<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="description" content="登陆页面" />
		<link href="/public/css/login.css" rel="stylesheet" />
		<link rel="icon" type="image/x-icon" href="/public/img/icon.png" />
		<script src="/libs/jquery-3.3.1.js"></script>
		<link href="/libs/bookstrap/css/bootstrap.min.css" rel="stylesheet">
		<script src="/libs/bookstrap/js/bootstrap.min.js"></script>
		<title>easyCourse-登录</title>
	</head>
	<body>
		<div id="app">
			<header>
				<nav class="navbar navbar-dark fixed-top navbar-expand-lg" role="navigation">
					<a class="navbar-brand" href="#">
						<img src="/public/img/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
						EasyCourse
					</a>
				</nav>
			</header>
			<div id="main">
				<div class="login-box before" id="student">
					<div class="inner">
						<div class="before-cg" @click="before()">
							<p>切换教师入口</p>
							<img src="/public/img/change.png" />
						</div>
						<p>学生登录入口</p>
						<form class="input-box">
							<div class="input-item">
								<img src="/public/img/username-icon.png" />
								<input name="username" type="text" v-model="student.username" placeholder="请输入账户名" />
							</div>
							<div class="input-item" style="margin-top: 5px;">
								<img src="/public/img/password-icon.png" />
								<input name="password" type="password" v-model="student.password" placeholder="请输入密码" />
							</div>
                            <p class="prompt" v-cloak>{{prompt}}</p>
							<div class="btBox">
								<button class="submit btn btn-outline-dark" @click="studentLogin">
									<p style="margin: 0;font-size: 16px;">登录</p>
								</button>
								<button class="register btn btn-outline-dark" @click="studentRegist">
									<p style="margin: 0;font-size: 16px;">注册</p>
								</button>
							</div>
						</form>
					</div>
				</div>

				<div class="login-box after" id="teacher">
					<div class="inner" style="display: none;">
						<div class="after-cg" @click="after">
							<p>切换学生入口</p>
							<img src="/public/img/change.png" />
						</div>
						<p>教师登录入口</p>
						<div class="input-box">
							<div class="input-item">
								<img src="/public/img/username-icon.png" />
								<input name="username" type="text" v-model="teacher.username" placeholder="请输入账户名" />
							</div>
							<div class="input-item" style="margin-top: 5px;">
								<img src="/public/img/password-icon.png" />
								<input name="password" type="password" v-model="teacher.password" placeholder="请输入密码" />
							</div>
                            <p class="prompt" v-cloak>{{prompt}}</p>
							<div class="btBox">
								<button class="submit btn btn-outline-dark" @click="teacherLogin">
									<p style="margin: 0;font-size: 16px;">登录</p>
								</button>
								<button class="register btn btn-outline-dark" @click="teacherRegist">
									<p style="margin: 0;font-size: 16px;">注册</p>
								</button>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
		<template>

		</template>

		<script>
			//functions
			var before = function() {
				$(".before .inner").hide();
				$(".after .inner").show();
				$(".before").css('animation', 'cardChange1 0.7s forwards');
				$(".after").css('animation', 'cardChange2 0.7s forwards');

				$(".before").on("animationend", function() {
					$(".before").css("z-index", "2");
					$(".before").css("background-color", "rgba(210, 210, 210, 0.45)");
					$(".before").css("transform", "translate(0,-15px)")
					$(".before").css("animation", "");
				});
				$(".after").on("animationend", function() {
					$(".after").css("z-index", "3");
					$(".after").css("background-color", "rgba(60, 105, 150, 0.75)");
					$(".after").css("transform", "translate(-15px,0)")
					$(".after").css("animation", "");
				});
			}
			var after = function() {
				$(".after .inner").hide();
				$(".before .inner").show();
				$(".after").css('animation', 'cardChange1 0.7s forwards');
				$(".before").css('animation', 'cardChange2 0.7s forwards');
				$(".after").css("z-index", "2");
				$(".before").bind("animationend", function() {
					$(".before").css("z-index", "3");
					$(".before").css("background-color", "rgba(60, 105, 150, 0.75)");
					$(".before").css("transform", "translate(-15px,0)")
					$(".before").css("animation", "");
				});
				$(".after").on("animationend", function() {
					$(".after").css("z-index", "2");
					$(".after").css("background-color", "rgba(210, 210, 210, 0.45)");
					$(".after").css("transform", "translate(0,-15px)")
					$(".after").css("animation", "");
				});
			}
		</script>
		<script src="/libs/vue-2.4.0.js"></script>
		<script src="/public/js/ajax.js"></script>

		<script>
			//vm
		
			var vm = new Vue({
				el: "#app",
				data: {
					student: {
						username: '',
						password: ''
					},
					teacher: {
						username: '',
						password: ''
					},
                    prompt:''
				},
				methods: {
					before: before,
					after: after,
					teacherLogin() {
						new AjaxRequest({
							type: "post",
							url: "/loginTeacher",
							param: JSON.stringify(this.teacher),
							isShowLoader: true,
							dataType: "json",
							callBack: function(res) {
								console.log(res);
							}
						})
					},
					teacherRegist(){
                        window.event.returnValue=false
                        window.location.href = "/teacher/register?type=1"
					},
					studentLogin(){
                        window.event.returnValue=false
                        var thisVM = this
						$.ajax({
							type:"POST",
							url:"/student/login/verify",
							data:{
                                studentId:this.student.username,
                                passwd:this.student.password
							},
							datatype:"json",
							success:function(msg){
							    var data = JSON.parse(msg)
								if(data.success){
                                    window.location.href = ""
								}else{
								    thisVM.prompt = '帐户名或密码错误！'
								}
							}
						})

					},
					studentRegist(){
                         window.event.returnValue=false
					     window.location.href = "/student/register?type=0"
					}
				}
			})
		</script>
	</body>

</html>
