<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="description" content="注册页面" />
		<link href="/public/css/register.css" rel="stylesheet" />
		<link rel="icon" type="image/x-icon" href="/public/img/icon.png" />
		<script src="/libs/jquery-3.3.1.js"></script>

		<link href="/libs/bookstrap/css/bootstrap.min.css" rel="stylesheet">

		<script src="/libs/bookstrap/js/bootstrap.min.js"></script>
		<title>EasyCourse-注册</title>
	</head>
	<body>
		<div id="app">
			<header>
				<nav class="navbar navbar-dark fixed-top navbar-expand-lg" role="navigation">
					<a class="navbar-brand" href="#">
						<img src="/public/img/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
						EasyCourse
					</a>
				</nav>
			</header>
			<div id="main">
				<div class="rigister">
					<p class="title" v-cloak>{{title}}</p>
					<div class="inputBox">
						<div class="input-item">
							<label v-cloak>{{user}}:</label>
							<input name="username" type="text" :placeholder="please"  v-model='username' />
						</div>
						<div class="input-item">
							<label>密码:</label>
							<input name="password" type="password" placeholder="请输入密码" v-model='password' />
						</div>
						<div class="input-item">
							<label>确认密码:</label>
							<input name="surePassword" type="password" placeholder="请确认密码" v-model='surePassword' />
						</div>
						<div class="input-item">
							<label>姓名:</label>
							<input name="studentName" type="text" placeholder="请输入姓名" v-model='name' />
						</div>
						<div class="input-item">
							<label>邮箱:</label>
							<input name="email" type="text" placeholder="请输入邮箱" v-model='email' />
						</div>
						<div v-if="type" class="input-item">
							<label>电话号码:</label>
							<input name="email" type="text" placeholder="请输入电话" v-model='phone' />
						</div>
						<div v-if="type" class="input-item">
							<label>地址:</label>
							<input name="email" type="text" placeholder="请输入地址" v-model='location' />
						</div>
					</div>
					<div class="btn-box">
						<button class="register btn btn-outline-dark" @click="register">
							<img src="/public/img/regist.png" />
						</button>
						<p class="prompt" v-cloak>{{msg}}</p>
					</div>

				</div>
			</div>

		</div>
	</body>
	<script src="/public/js/ajax.js"></script>
	<script src="/libs/vue-2.4.0.js"></script>
    <script src="/public/js/parseQuery.js"></script>
	<script>
		var vm = new Vue({
			el: "#app",
			data: {
				title: '', //学生或教师注册
				user: '', //学号或教工号
				please: '', //学号的placeholder
				
				type: 0, //0为学生,1为教师
				username: '',
				password: '',
				surePassword: '',
				name:'',
				email: '',
				location:'',
				phone:'',
				msg:''
			},
			methods: {
				register(){
                    window.event.returnValue=false
                    this.msg = ''
					if (this.password == '') {
						this.msg = '请输入密码！'
						return
					}else if(this.surePassword == ''){
						this.msg = '请确认密码！'
						return
					}else if(this.email == ''){
						this.msg = '请输入邮箱'
						return
					}else if(this.name == ''){
                        this.msg = '请输入姓名'
                        return
                    }else if(this.password != this.surePassword){
						this.msg = '两次密码输入不一致！'
						return
					}
					var data = {}
					var url
					if(this.type){
				        //教师
						url = '/teacher/register/verify'
                        data.teacherId=this.username
						data.passwd=this.password
						data.mail=this.email
                        data.location=this.location
						data.phone = this.phone
						data.teacherName = this.name
					}else {
				        //学生
				        url = '/student/register/verify'
						data.studentName = this.name
                        data.studentId=this.username
                        data.passwd=this.password
                        data.email=this.email
					}
					var personType = this.type
					$.ajax({
						type: "post",
						url: url,
						data: data,
						dataType: "json",
                        success:function(msg){
                            var temp = JSON.stringify(msg)
                            var data = JSON.parse(temp)
                            if(data.status === 200){
                                if(this.type){
                                    //教师
                                    window.location.href = "/teacher/index"
                                }else {
                                    //学生
                                    window.location.href = "/student/index"
                                }
                            }else{
                                console.log("lalal")
                                //注册失败
                            }
                        }
					})
				}
			},
			created() {
				//这里判断用户注册的类型,设置相应的数据(从url种获取参数)
                var type = getVariable('type')
                this.type = parseInt(type)
				if (this.type) {
					this.title = '教师注册'
					this.user = '教工号'
					this.please = '请输入教工号'
				} else {
					this.title = '学生注册'
					this.user = '学号'
					this.please = '请输入学号'
				}
			},
		})
	</script>
</html>
