

@font-face {
	font-family: FangSong;
	src: url(../ttf/ZiTiGuanJiaFangSongTi-1.ttf);
}

@font-face {
	font-family: KaiTi;
	src: url(../ttf/kaiTi.ttf);
}

/* latin-ext */
@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: local('Niconne'), local('Niconne-Regular'), url(../ttf/w8gaH2QvRug1_rTfnQKn2W4O.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: local('Niconne'), local('Niconne-Regular'), url(../ttf/w8gaH2QvRug1_rTfnQyn2Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body{
	font-family: KaiTi;
}

a{
	cursor: pointer;
}
a:hover{
	color: silver;
}

[v-cloak]{
	display: none !important;
}

.profile h2{
	font-size: 1.5rem !important;
	
}
	
.nav_title span{
	font-family: Niconne;
	font-size: 2.7rem !important;
	
}
.side-menu{
	
	font-size: 1.5rem;
	line-height:1.7rem ;
	font-weight: bold;
}
.child_menu a{
	font-size: 1.2rem !important;
	line-height: 1.5rem;
}

.icon{
	border: 1px solid #dddddd !important;
	display: inline-block;
	vertical-align: middle;
	margin: -7px 7px 0 3px;
	width: 36px;
	height: 36px;
	background-image: url(../img/icon.png);
	background-position: center center; 
	background-size: 27px 27px;
	background-repeat: no-repeat;
}
