@font-face {
	font-family: XingKai;
	src: url(../ttf/HYXuJingXingKaiW-2.ttf);
}

@font-face {
	font-family: FangSong;
	src: url(../ttf/ZiTiGuanJiaFangSongTi-1.ttf);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-transition-delay: 99999s;
	-webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
	/* -webkit-box-shadow: 0 0 0px 1000px white inset; */
}

* {
	margin: 0;
	padding: 0;
}

p,
font {
	background-color: transparent !important;
	color: rgb(230, 230, 230);
	margin-bottom: 0.8rem !important;
	
}

body {
	overflow: hidden;
	font-size: 12px;
	background-image: url(../img/login-bg.jpg);
}
#main {
	height: 100vh;
	overflow-y: hidden;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.before {
	position: absolute;

	z-index: 3;
	transform: translate(-15px, 0);
	overflow: hidden;
	border-radius: .3em;
	box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .3) inset, 0 .5em 1em rgba(55, 55, 55, 1);
	text-shadow: 0 1px 1px hsla(0, 0%, 100%, .3);
}

.rigister {
	position: absolute;
	z-index: 2;
	transform: translate(0, -15px);
	overflow: hidden;
	border-radius: .3em;
	box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .3) inset, 0 .5em 1em rgba(55, 55, 55, 1);
	text-shadow: 0 1px 1px hsla(0, 0%, 100%, .3);
	color: transparent !important;

	padding: 30px 10px 30px 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	
}


.rigister::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	/*-1 可以当背景*/
	-webkit-filter: blur(20px);
	filter: blur(20px);
	margin: -30px;
	/*消除边缘透明*/
	background: url(../img/login-bg.jpg) center top;
	background-size: cover;
	/*平铺*/
	background-attachment: fixed;
	/*位置固定*/
}

.title{
	font-family: FangSong;
	color: rgb(230,230,230);
	font-size: 1.4rem;
	width: 100%;
	text-align: center;
}
.inputBox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 1px dashed rgb(150,150,150);
	margin-bottom: 10px;
}
.input-item {
	margin: 0.2rem 0.4rem 0.4rem 0;
	width: 25rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.input-item input {
	width: 100%;
	background-color: transparent;
	color: rgb(235, 235, 235);
	font-size: 16px;
	font-family: FangSong;
	line-height: 230%;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid rgb(140,140,140);
	outline: transparent;
	margin-right: 20px;
}
.input-item label{
	width: 7.0rem;
	color: rgb(200,200,200);
	font-size: 1.1rem;
	font-family: FangSong;
	text-align: right;
	margin: 0 15px 0 0 ;
}
.btn-box{
	position: relative;
}
.register {
	
	width: 4rem;
	height: 4rem;
	
	border-radius: 50% !important;
	border-color:rgb(150,150,150) !important;
	outline: none;
	color:rgb(200,200,200);
}

.register img{
	width: 75%;
	margin-left: 5%;
}
.prompt{
	position: absolute;
	margin-top: 3.5rem;
	font-size: 0.7rem;
	text-shadow: none;
	width: 10rem;
	text-align: center;
	font-family: FangSong;
	color: rgb(250,110,110);
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
@media only screen and (max-width:570px) {

	.rigister{
		width: 90vw;
	}
	.input-item{
		width: 90% !important;
	}
}
@media only screen and (max-width:470px) {


	.inputBox{
		border: none !important;
	}
}